
<div class="content"> 

<p id="des-de"> Hi, I am Marjuk! <br /> <br /> I realized as the internet seeps into everything, 
the future belongs to those who code — so I began building things on the internet. 
I’m now working in few side projects; if you’re ambiently curious, I can send you <a href="/update" class="updates"> updates. </a> </p> 

<h3 class="ongoing-projects"> A Few Ongoing Projects </h3>

<ul> 

<li> <a href="http://marjuk.github.io/gandalf/"> Gandalf, </a>a journey through productivity advice via clicks. </li>
<li> <a href="http://ryte.club"> Ryte Club, </a> a collaborative story telling platform. </li>


</ul>

</div> 

<style> 

ul a, .updates  { color: #CE3816;
    text-decoration: none; } 
    
    p#des-de { margin-top: -10%; } 

        
        
.content {
    
    width: 60%;
    padding-top: 0% 3%; 
    text-align: left;
    margin-left: 20%;
    margin-top: 8%;
}

.ongoing-projects { 
    
      font-family: 'Open Sans', 'Helvetica-Neue', Helvetica, sans-serif;
      font-size: 1em;
      font-weight: 800;

    
}


    




</style>