
<div class="content"> 

<p id="des-de"> Hi, I am Marjuk! <br /> <br />  I used to study economics, and then I realized: as the internet seeps into everything, 
the future belongs to those who code — so I began building things on the internet. 
I’m now working in online education; if you’re ambiently curious, I can send you <a href="#updates" class="updates"> updates. </a> </p> 

<h3 class="ongoing-projects"> A Few  Ongoing Projects </h3>

<ul> 

<li> <a href="#tuor"> tuor </a>, a journey through clicks in the LOTR universe. </li>
<li> <a href="#quoteq"> quoteQ </a>, add epic quotes your friends say that others might find witty.</li>
<li> <a href="#kick-story"> kick-the-can </a>, rule a story one line at a time.</li>
<li> <a href="#birthday"> birthday-drum </a>, build a birthday-gift-card-website in minutes. </li>


</ul>

</div> 

<style> 

ul a, .updates  { color: #CE3816;
    text-decoration: none; } 
    
    p#des-de { margin-top: -10%; } 

        
        
.content {
    
    width: 60%;
    padding-top: 0% 3%; 
    text-align: left;
    margin-left: 20%;
    margin-top: 8%;
}

.ongoing-projects { 
    
      font-family: 'Open Sans', 'Helvetica-Neue', Helvetica, sans-serif;
      font-size: 1em;
      font-weight: 800;

    
}


    




</style>