<!-- <link rel="stylesheet" type="text/css" href="inspiration.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<div class="carousel"> 

 <h3 class="carousel-inspiration"> Inspiration </h3>
  
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
           <div class="row no-gutter">
                 <div class="col-lg-4 col-sm-6"> 
                    <a href="#" class="portfolio-box"> 
                        <img src="https://dl.dropboxusercontent.com/u/39214160/mozart-3.png" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Classical Music
                                </div>
                                <div class="project-name">
                                    Mozart
                                </div>
                            </div>
                        </div>
                    </a> 
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box"> 
                        <img src="https://dl.dropboxusercontent.com/u/39214160/salinger2.jpg" class="img-responsive" alt="">
                       <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Writing
                                </div>
                                <div class="project-name">
                                    J.D. Salinger
                                </div>
                            </div>
                        </div>
                    </a> 
                </div>
                <div class="col-lg-4 col-sm-6">
                   <a href="#" class="portfolio-box"> 
                        <img src="https://dl.dropboxusercontent.com/u/39214160/alpacino-2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Actor
                                </div>
                                <div class="project-name">
                                    Al Pacino
                                </div>
                            </div>
                        </div>
                    </a> 
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="https://dl.dropboxusercontent.com/u/39214160/socialnetwork.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Movie
                                </div>
                                <div class="project-name">
                                    The Social Network
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="https://dl.dropboxusercontent.com/u/39214160/chess.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Game
                                </div>
                                <div class="project-name">
                                    Chess
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="https://dl.dropboxusercontent.com/u/39214160/mother.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Love 
                                </div>
                                <div class="project-name">
                                    Ma
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    </div> 

<style> 

.carousel-inspiration { 
    
    
      margin-left: -49%;
      margin-top: 2%;
      margin-bottom: 2%;
      font-family: 'Open Sans', 'Helvetica-Neue', Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 800;

    

}

    .img-responsive {
        
        display: block;
        height: 300px;
        width: 450px;
        max-width: 450px;
    }
    
    .carousel { width: 100%;  } 
    
    .portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-left: -15px;
    width: 450px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

    



</style> --> 