
<div class="content-summer"> 

<h3 class="title-stanford"> Product and Data Intern at Piazza Technologies  </h3>
<h4 class="date-internship"> August 2015 - November 2015 </h4>

<p id="stanford-de-des"> 


</div> 

<style> 

 a   { color: #CE3816;
    text-decoration: none; } 
    
    p#stanford-de-des { margin-top: 0%; } 
    

        
        
.content-summer {
    
    width: 60%;
    padding: 0% 3%;
    text-align: left;
    margin-left: 17%;
}

 .title-stanford { 
    
      font-family: 'Open Sans', 'Helvetica-Neue', Helvetica, sans-serif;
      font-size: 1em;
      font-weight: 800;

    
}

.date-internship {
 
 float: right;
 
}



</style>