
<div class="content-summer"> 

<h3 class="title-stanford"> 2015 Summer Spent at Stanford  </h3>

<p id="stanford-de-des"> 

<ul> 

<li> 

I took <a href="http://web.stanford.edu/class/cs193c/"> CS 193C </a>  that focused on client-side Internet technology including HTML, Cascading Style Sheets, JavaScript, AJAX, JQuery and XML. 
I found this opportunity to be in the perfect intersection of my passion and career. </p>

</li>

<li> I was a participant at <a href="http://summer.stanford.edu/silicon-valley-innovation-academy/"> 
Silicon Valley Innovation Academy </a> - a hands-on experience of the start-up process that took me through 
the “napkin-to-design” innovation life cycle of ideas. As an aspiring entrepreneur, I could not ask for a better opportunity. </li>


</ul>


</div> 

<style> 

 a   { color: #CE3816;
    text-decoration: none; } 
    
    p#stanford-de-des { margin-top: 0%; } 
    

        
        
.content-summer {
    
    width: 60%;
    padding: 0% 3%;
    text-align: left;
    margin-left: 17%;
}

 .title-stanford { 
    
      font-family: 'Open Sans', 'Helvetica-Neue', Helvetica, sans-serif;
      font-size: 1em;
      font-weight: 800;

    
}




</style>